{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="col">
            <div class="card">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="{{object.image | media_filter}}">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{object.name}}</h5>
                    <p class="card-text">{{ object.description }}</p>
                      <p class="card-text">{{ object.purchase_price }}</p>
                      <p class="card-text">{{ object.created_at }}</p>
                      <p class="card-text">{{ object.category_id }}</p>
                    <p class="card-text"><small class="text-body-secondary">{{ object.updated_at }}</small></p>
                  </div>
                </div>
              </div>
            </div>
    </div>
{% endblock %}