{% extends 'catalog/base.html' %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Skystore</h1>
</div>

<div class="container">
    <div class="row text-center">
        {% for product in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{product.name}}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{product.purchase_price}}</h1>
                    <p>{{ product.short_description }}</p>
                    {% if perms.catalog.can_unpublish_product %}
                        {% if user == product.owner or user.is_staff  %}
                        <a class="btn btn-primary" href="{% url 'catalog:product_update' product.pk %}" role="button">Редактировать</a>
                        <a class="btn btn-primary" href="{% url 'catalog:product_delete' product.pk %}" role="button">Удалить</a>
                        {% else %}
                        <a class="btn btn-primary" href="{% url 'catalog:product_update' product.pk %}" role="button">Опубликовать</a>
                        <a class="btn btn-primary" href="{% url 'catalog:product_delete' product.pk %}" role="button">Удалить</a>
                        {% endif %}
                    {% endif %}
                    <a class="btn btn-primary" href="{% url 'catalog:product_detail' product.pk %}" role="button">Купить</a>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 text-center">
                <a class="btn btn-primary mx-auto text-center" href="{% url 'catalog:product_create' %}" role="button">Создать</a>
                <a class="btn btn-primary mx-auto text-center" href="{% url 'catalog:category_list' %}" role="button">Категории</a>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
</div>
{% endblock %}
